body{
	height: 625px;
	margin: 0;	
	font-family: "Lucida Sans Unicode", "Lucida Grande",
	sans-serif	
}

ul{
	list-style: none;
}

.firstUL,.secoundUL{
	display: inline-block;
	text-align: center;
	padding: inherit;
}
.firstUL{
	margin: 15px;
}

.secoundUL{
	margin: 15px;
}

li{
	display: inline-block;
	margin: 5px;
	padding: 0 10px;
}

.navbar{
	background-color: white;
	margin:0 auto;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

#logo{
	display: inline-block;
	vertical-align: middle;
}


h1 {
	font-size: 1em;
	color: #FFFFFF;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 20px;
	margin-left: 20px;
}

.container{
	position: relative;
	margin: 0px;
}

.logo{
	width: 317px;
	height: 102px;
}


a{ 
	color: #226775;
}

a:hover{ 
	color: red;
}

.header{ background-color: #FFFFFF;
		padding: 0px;
		text-align: center;
}

.main{
	
}

.section2{
	background-color: white;
}

.s2p1-text{
	font-size: 35px;
}

.buttonlinksection2{
	border: solid 1px black;
	padding: 5 10px;

}


.footer{
	height:80px;
	margin: 0px;
	background-color: blue;

}